.header_container_home{
  background: red;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.logo_header_home{
  width:60px;
  height:60px;
  margin: 20px;
}

.list_item_home{
  list-style: none;
  color: white;
  display: flex;
}

.item_home{
  margin: 0 10px;
}